*
{
    font-size: large;
}

.btn
{
    width: 21vw;
    height: 10vh;
    background-color: rgb(50,50,50);
    color: white;

}

.operator
{
    background-color: black;
}

.result 
{
    background-color: rgb(255, 95, 31);
}