#heading
{
    color:white;
}

body
{
    background-color: rgb(80,80,80);
}

#display
{
    background-color: rgb(50,50,50);
    height: 10vh;
    width: 70vw;
    color:white;
}

.promo > ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4vh;
}

.promo > ul > li >a
{
    color: rgb(10,10,10);
    font-size: 1.2em;
    
    
}